<header id='banner'>
  <%= image_tag "header.png" %>
</header>
<section id='content'>
  <article id='main-title'>Feria de Ideas de Negocios</article>
  <article id='description'>
    <p>
      El TEC fomenta el espiritu emprendedor empresarial desde una vision de 
      ciclo de vida que contiene tres perspectivas: la gestacion de una 
      cultura emprendedora, el nacimiento de nuevas empresas y su apoyo durante 
      la etapa inicial o de infancia
    </p>
    <p>
      El objetivo de la Feria de Ideas de Negocios es fomentar la cultura emprendedora
      mediante la participacion de ideas de negocios factibles de ser comercializadas y 
      que tengan como fundamento el conocimiento cientifico, tecnico y administrativo 
      adquirido por todos los estudiantes del Instituto Tecnologico de Costa Rica.
    </p>
  </article>
  <section>
    <article id='characteristics'>
      <span>AMBIENTE</span>
      <span>COMUNICACION</span>
      <span>INNOVACION</span>
    </article>
    <article class='link-container' id='enter-idea'>
      <a href='#' class='link-style'>PARTICIPA! Ingresa tu idea</a>
    </article>
    <article class='link-container' id='download-document'>
      <a href='#' class='link-style'>Bases de la Feria</a>
    </article>
  </section>
</section>
<footer id='footer'>
  <span>Programa de Emprendedores - Escuela de Administracion de Empresas</span>
</footer>
